{% extends "base.html" %}

{% block content %}

<h1>My name is Noah. I am currently a senior at Georgia College & State University. If all goes according to plan, I should be receiving a bachelor's degree in M.I.S. in the Spring of 2025!</h1>
<br>
<img src="{{ url_for('static', filename='assets/petrick2.jpg') }}" alt="Me with my friends" width="272" height="186">
<br>
<h2>Above is a photo of me with 3 of my closest friends from high school: Win, Hailey, and Livy. The photo shows us at a bar in Statesborough, Georgia.</h2>
<br>
<h3>Outside of spending time with friends, I enjoy playing Texas Holdem', reading, and generally chilling out.</h3>

{% endblock %}